.mx-Clickable.mx-Recording.mx-Data(data-FileName=episode.FileName, data-ChanId=episode.Channel.ChanId, data-StartTs=episode.Recording.StartTs, data-Title=episode.Title)
  if fileHasStream[episode.FileName]
    img.mx-HasStream(src="img/StreamOverlay.png")
  img.mx-RecordingPreview(src="http://" + MythBackend + "/Content/GetPreviewImage?ChanId=" + episode.Channel.ChanId + "&StartTime=" + episode.Recording.StartTs + "&Width=128&Height=72",alt=episode.SubTitle,onerror="mxRec(this)")
  if typeof(ShowTitle) != 'undefined'
    span.mx-Title= episode.Title
  else
    if episode.SubTitle.length > 0
      span= episode.SubTitle
    else
      if episode.Description.length > 0
        span= episode.Description
      else
        span= episode.StartTime