!!!
html
  head
    title= Title
    if isIOS
      meta(name="apple-mobile-web-app-capable", content="yes")
    if app.settings.env === "production"
      if isWebApp
        link(rel="stylesheet", href="/css/dark-hive/webapp.css")
      else
        link(rel="stylesheet", href="/css/dark-hive/browser.css")
      script(type="text/javascript", src="/js/all.js")
    else
      link(rel="stylesheet", href="/css/HTML5Reset.css")
      link(rel="stylesheet", href="/css/dark-hive/jquery-ui-1.8.17.custom.css")
      link(rel='stylesheet', href='/css/mythexpress.css')
      if isWebApp
        link(rel='stylesheet', href='/css/webapp.css')
      else
        link(rel='stylesheet', href='/css/browser.css')
      script(type="text/javascript", src="js/jquery-1.7.1.js")
      script(type="text/javascript", src="js/jquery-ui-1.8.17.custom.js")
      script(type="text/javascript", src="js/history.js")
      script(type="text/javascript", src="js/history.adapter.jquery.js")
      script(type="text/javascript", src="js/mythexpress.js")
  body
    #Content
      #Context.mx-Hidden= JSON.stringify(Context)
      != body
    #Header!= partial("header")
    #Views.mx-Hidden!= partial("ui/viewspopup")
    #Footer
    #InfoDialog!= partial("info/infodialog")