.mx-Stream.mx-Clickable.mx-Data(data-StreamId=stream.Id,data-FullURL=stream.FullURL, data-Width=stream.Width, data-Height=stream.Height)
  .mx-StreamPreview.mx-Clickable
    img(src=stream.Image || "img/static.png")
  .mx-StreamTitles
    if stream.Info
      p.mx-Title= stream.Info.Title
      if stream.Info.SubTitle
        p= stream.Info.SubTitle
    else
      p.mx-Title No Description
    p= stream.PercentComplete + "% " + (stream.StatusStr + " " || "")