.mx-Stream.mx-Clickable.mx-Data(data-StreamId=stream.Id, data-Title=(!!stream.Info ? stream.Info.Title : "No Description"))
  .mx-StreamPreview.mx-Clickable
    img(src=stream.Image || "img/static.png")
  .mx-StreamTitles
    if stream.Info
      p.mx-Title= stream.Info.Title
      if stream.Info.SubTitle
        p= stream.Info.SubTitle
    else
      p.mx-Title No Description
    p= stream.PercentComplete + "% " + (stream.StatusStr + " " || "")