.mx-VideoCell
  if video.VideoFolder
    .mx-Clickable.mx-VideoFolder.mx-Data(data-VideoFolder=video.VideoFolder)
      img.Folder(src="img/folder2.png")
      span.mx-Title= video.Title
  else
    .mx-Video.mx-Clickable.mx-Data(data-VideoId=video.Id)
      if video.Coverart.length > 0
         img.mx-VideoCover.mx-Clickable(src=url.format({ host : MythBackend, pathname : "Content/GetImageFile", query : { StorageGroup : "Coverart", FileName : video.Coverart, Width : 128, Height : 192 } }))
      span.mx-Title= video.Title