if video.VideoFolder
  .mx-Clickable.mx-VideoFolder.mx-Data(data-Group=video.VideoFolder)
    img.Folder(src="img/folder2.png",width=128,height=128,alt=video.Title)
    span.mx-Title= video.Title
else
  .mx-Video.mx-Clickable.mx-Data(data-VideoId=video.Id)
    if video.Coverart.length > 0
       img.mx-VideoCover(src=url.format({ host : MythBackend, pathname : "Content/GetImageFile", query : { StorageGroup : "Coverart", FileName : video.Coverart, Width : 128, Height : 192 } }),onerror="mxVid(this)")
    else
       img.mx-VideoCover(src="img/MoviePoster.png")
    span.mx-Title= video.Title