p.mx-Data(data-FileName=recording.FileName, data-ChanId=recording.Channel.ChanId, data-StartTs=recording.Recording.StartTs)= recording.Title
if recording.SubTitle
  p= recording.SubTitle
if recording.Description
  p= recording.Description
if recording.Airdate
  p= "Originally aired on " + recording.AirdateFormatted
if recording.Inetref.length > 0 && recording.Inetref !== '00000000'
  if recording.ProgramId.substr(0,2) === "MV"
    p: a(href="http://www.themoviedb.org/movie/"+recording.Inetref, target="tmdb"+recording.Inetref) TheMovieDB.org
  if recording.ProgramId.substr(0,2) === "SH" || recording.ProgramId.substr(0,2) === "EP"
    p: a(href="http://thetvdb.com/?tab=series&id="+recording.Inetref, target="tvdb"+recording.Inetref) TheTVDB.com
p= flags
if !!recording.Artwork && recording.Artwork.ArtworkInfos.length > 0
  #Artwork
    each pic in recording.Artwork.ArtworkInfos
      a(href="http://" + MythBackend + pic.URL, rel="lightbox[recording]")
        img(src="http://" + MythBackend + pic.URL + "&Height=128", data-big="http://" + MythBackend + pic.URL)