.mx-Data(data-StreamId=stream.Id, data-data-Title=stream.Info.Title)
  if stream.Info
    p.mx-Title= stream.Info.Title
  else
    p.mx-Title Unknown Title
  p= stream.SourceWidth + "x" + stream.SourceHeight + " => " + stream.Width + "x" + stream.Height
  if stream.Info
    if stream.Info.SubTitle
      p= stream.Info.SubTitle
    if stream.Info.Description
      p= stream.Info.Description
    if stream.Info.Airdate
      p= "Airdate: " + stream.Info.Airdate