if typeof(Width) === "undefined"
  video.nm-VideoBox(controls,autoplay,src=FullURL)
else
  video.nm-VideoBox(controls,autoplay,src=FullURL,width=Width,height=Height)

if Info
  .mx-TextColumn.mx-TextBubble
    p= Info.SubTitle
    p= Info.Description
    if Info.Airdate
      p= "Airdate: " + Info.Airdate