if typeof(Width) === "undefined"
  video.mx-VideoBox(controls,autoplay,src=FullURL)
else
  video.mx-VideoBox(controls,autoplay,src=FullURL,width=Width,height=Height,data-W=Width,data-H=Height)

if Info
  .mx-TextColumn
    .mx-TextBubble
      p= Info.SubTitle
      p= Info.Description
      if Info.Airdate
        p= "Airdate: " + Info.Airdate

.mx-TextColumn
  .mx-ControlBubble
    div
      if !isIOS
        button.mx-Clickable.mx-Move(data-offset="-300") -5m
      button.mx-Clickable.mx-Move(data-offset="-30") -30s
      button.mx-Clickable.mx-Move(data-offset="-5") -5s
      button.mx-Clickable.mx-Move(data-offset="30") +30s
      button.mx-Clickable.mx-Move(data-offset="120") +2m
      button.mx-Clickable.mx-Move(data-offset="300") +5m
    div
      button.mx-Clickable.mx-Shrink Shink
      button.mx-Clickable.mx-Original Normal
      button.mx-Clickable.mx-Zoom Zoom
      button.mx-Clickable.mx-Max Max
    if (typeof(Info) !== "undefined" && Info.Recording) || (typeof(stream) !== "undefined" && stream.Id)
      hr
    div
      if typeof(Info) !== "undefined" && Info.Recording
        button.mx-Clickable.mx-DeleteRecording.mx-Data(data-ChanId=Info.Channel.ChanId, data-StartTs=Info.Recording.StartTs) Delete Recording
      if typeof(stream) !== "undefined" && stream.Id
        button.mx-Clickable.mx-DeleteStream.mx-Data(data-StreamId=stream.Id) Delete Stream
